/* .matching-component .match-prompt-label {
  background-color: #c3c3c3;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  height: 150px;
} */
.matching-component .match-prompt-label img {
  max-height: 150px;
  max-width: 150px;
}
.matching-component .match-prompt {
  margin: 10px 0;
  width: 150px;
}

.match-row {
  width: 300px;
  height: 150px;
  display: flex;
}

.matching-component .responses-container .dropHolder {
  display: flex;
  width: 100%;
  float: left;
}

.dropWrapper {
  display: flex;
  width: 150px;
}

.matching-component .choices-container .dropHolder {
  width: 150px;
  min-height: 150px;
  float: left;
  display: flex;
  margin-top: 10px;
}

.matching-component .choice-item-wrapper {
  background-color: #fff;
  text-align: center;
  margin: 10px 0px 10px 20px;
  display: flex;
}

.matching-component .choice-item-wrapper:not(.-dragging) {
  transform: none !important;
}

.matching-component .choice-item {
  align-items: center;
  background-size: 10px 8px;
  border: 1px solid #7d7b7b;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 40px;
  opacity: 1;
  max-width: 200px;
  min-width: 200px;
}

.matching-component .choice-item-wrapper.-placeholder {
  background-color: #969696;
  background-image: none;
  border: none;
}

.matching-component .choices-container.-draggingChoice {
  background-color: #ebfaff;
  border: 2px dashed #99c9dd;
}

.matching-component .responses-container.-draggingResponse {
  background-color: #ebfaff;
  border: 2px dashed #99c9dd;
}
